<main class="flex flex-col gap-4">
    <h1 class="text-sm text-center font-semibold">HOLIDAYS</h1>
    <ul>
    <% @holidays_in_current_month.each do |holiday, date| %>
        <li class="text-center font-bold p-2 mb-4 bg-blue-400 text-white rounded shadow cursor-pointer">
            <%= "#{date} #{holiday}" %>
        </li>
    <% end %>
    </ul>
</main>