<div>
  <% if notice.present? %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Entries" %>

  <div>
    <h1>Entries</h1>
    <%= link_to "New entry", new_entry_path %>
  </div>

  <div id="entries">
    <% @entries.each do |entry| %>
      <%= render entry %>
      <p>
        <%= link_to "Show this entry", entry %>
      </p>
    <% end %>
  </div>
</div>
