@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

details > summary {
  list-style: none;
}

.imageRotateHorizontal {
  animation: rotatePause 10s linear infinite;
  -webkit-animation: rotatePause 10s linear infinite;
}

@keyframes rotatePause {
  0%, 30% { transform: rotateY(0deg); }
  40%, 90% { transform: rotateY(180deg); }
  100% { transform: rotateY(360deg); }
}