<div class="h-14 w-full flex items-center justify-center bg-blue-700">
    <h1 class="font-bold text-white text-2xl">
        <span class="text-[1.5rem] tracking-tighter">PLAN</span><span class="italic">it</span>
    </h1>
</div>