<div class="h-14 w-full flex items-center <%= user_signed_in? ? 'justify-between' : 'justify-center' %> px-8 bg-blue-700 md:h-24 md:max-w-2/3 md:mx-auto md:px-16 transition-all ease-in-out">
 <img class="h-12 md:h-16" src="https://i.postimg.cc/g2gQFW73/logo.png" alt="Logo" />
  <% if user_signed_in? %>
    <div class="flex gap-2 text-lg text-white md:text-2xl md:gap-4">
        <span class="cursor-pointer">
            <%= button_to destroy_user_session_path, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "bg-transparent border-none p-0" do %>
                <%= fa_icon "sign-out" %>
            <% end %>
        </span>
    </div>
  <% end %>
</div>
